* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: 'Poppins', sans-serif;
  line-height:1.6;
  font-size:18px;
  scroll-behavior: smooth;
}
header{
  margin-bottom: 40px;
  background:linear-gradient(45deg,red,blue);
  color:white;
  padding:10px;
  position:sticky;
  top:0;
  z-index: 1000;
  
}
ul{
  display:flex;
  justify-content: center;
  gap:40px;

}
ul{
  list-style: none;
}
header a{
  text-decoration: none;
  color:white;
}
header a:hover{
  color:orange;
}

.container{
  max-width:700px;
  margin:0 auto;
}
img{
  max-width:100%;
}
.container .section{
  
  margin-bottom: 50px;
}
.container .section h2{
  background:linear-gradient(45deg,red,blue);
  color:white;
  text-align:center;
  margin: 10px;
}

.header.transparent{
  background:linear-gradient(45deg,rgba(255,0,0,0.8),rgba(0,0,255,0.8));

}